html{
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
}

.u-section-1 {
  min-height: 100%;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: -14px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 828px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 49px;
}

.u-section-1 .u-image-1 {
  width: 225px;
  height: 113px;
  margin: 81px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 43px 23px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 13px 11px 0;
}

.u-section-1 .u-image-2 {
  width: 382px;
  height: 92px;
  margin: 53px auto 0;
}

.u-section-1 .u-image-3 {
  pointer-events: auto;
  background-image: url("images/login_tkd_wallpaper.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.g-sign-in-button {
    margin: 10px;
    display: inline-block;
    width: 240px;
    height: 50px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.g-sign-in-button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}

.g-sign-in-button:active {
    background-color: #3367D6;
    transition: background-color 0.2s;
}

.g-sign-in-button .content-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
}

.g-sign-in-button img {
    width: 18px;
    height: 18px;
}

.g-sign-in-button .logo-wrapper {
    padding: 15px;
    background: #fff;
    width: 48px;
    height: 100%;
    border-radius: 1px;
    display: inline-block;
}

.g-sign-in-button .text-container {
    font-family: Roboto,arial,sans-serif;
    font-weight: 500;
    letter-spacing: .21px;
    font-size: 16px;
    line-height: 48px;
    vertical-align: top;
    border: none;
    display: inline-block;
    text-align: center;
    width: 180px;
}
